*{
    margin: 0;
    padding:0%;
}
body{
    background-color: rgb(40, 37, 31);
}
.areaPrincipal{ 
    background-image: url("../img/fondo.png");
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    opacity: 0.7;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
 }
 #encabezado{
    background: #fb59d0;
    height: 80px;
    text-align: center;
    background-image: url("../img/logo.png");
    background-size: 60px;
    background-repeat: no-repeat;
 }
 .piePagina{
    width: 100%;
    height: 100px;
    background: #15101b;
    color: #ffffff;
    bottom: 0;
    position: fixed;
    left: 0;

 }
 #menu{

    height: 40px;
    position: relative;
    top: 200px;
 }
 ul{
    list-style-type: none;
    margin: 0;
    overflow: 0;
    background-color: #15101b;
 }
 li{
    float: right;
 }
 li a{
    display: block;
    color: antiquewhite;
    text-align: center;
    padding: 10px;
    text-decoration: none;
 }
 li a:hover{
    background-color: hsl(42, 32%, 64%);
 }
 #datos{
    width: 80%;
    background-color: burlywood;
    height: 600px;
    margin: auto;
    opacity: 1;
    color: #000;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }
div{
   color: antiquewhite;
   text-align: center
}
#datos{
   text-align: center;
}